/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* GLOBAL */
body{
    font-family:'Segoe UI',Tahoma,sans-serif;
    background:#f4f7fb;
    color:#333;
}

/* HEADER */
header{
    background:linear-gradient(135deg,#0a2540,#1b4f8a);
    color:white;
    padding:20px 0;
    position:sticky;
    top:0;
}

header h1{text-align:center;}